{{!< default}}

{{! Everything inside the #page tags pulls data from the page }}
{{#post}}

<!--<header class="main-header post-head {{#if image}}" style="background-image: url({{image}}){{else}}no-cover{{/if}}">
    <nav class="main-nav {{#if image}}overlay{{/if}} clearfix">
        {{#if @blog.logo}}<a class="blog-logo" href="{{@blog.url}}"><img src="{{@blog.logo}}" alt="{{@blog.title}}" /></a>{{/if}}
    </nav>
</header>-->
<main class="page-container" role="main">
    <h1 class="page-title">{{title}}</h1>
    <section class="page-content">
        {{content}}
    </section>
</main>
{{/post}}